%h2
  = @user.name
%table
  %tr
    %td
      %label
        Firstname:
    %td
      = @user.firstname
  %tr
    %td
      %label
        Lastname:
    %td
      = @user.lastname
  %tr
    %td
      %label
        Zipcode:
    %td
      = @user.zipcode
  %tr
    %td
      %label
        Street:
    %td
      = @user.street
  %tr
    %td
      %label
        City:
    %td
      = @user.city


= link_to_fancybox 'Edit this user', edit_user_path(@user)
|
= link_to_close_fancybox 'Back'