= form_for([:admin, @fueltype], :html => { :id => 'fueltypeform'}, :remote => true) do |f|
  = f.error_messages
  - [:name, :price_per_liter].each do |value|
    %p
      = f.label value
      = f.text_field value, :value => @fueltype.send(value)
  %p#bottom_form_buttons
    = link_to_close_fancybox 'Back'
    = f.submit edit_or_update? ? 'Update' : "Create"