%h1
  Listing fueltypes

%table
  %tr
    %th
      Name
  - @fueltypes.each do |fueltype|
    %tr
      %td
        = fueltype.name
      %td
        = link_to_fancybox 'Show', admin_fueltype_path(fueltype)
      %td
        = link_to_fancybox "Edit", edit_admin_fueltype_path(fueltype)
      %td
        = link_to 'Destroy', [:admin, fueltype], :method => :delete, :confirm => "Are you sure?"

%br
= link_to_fancybox 'New fueltype', new_admin_fueltype_path