%h2
  = @user.name
%table
  %tr
    %td
      %label
        Firstname:
    %td
      = @user.firstname
  %tr
    %td
      %label
        Lastname:
    %td
      = @user.lastname
  %tr
    %td
      %label
        Zipcode:
    %td
      = @user.zipcode
  %tr
    %td
      %label
        Street:
    %td
      = @user.street
  %tr
    %td
      %label
        City:
    %td
      = @user.city

%label
  You are living nearby:
%div#zipResult  

= javascript_tag do
  = ajax_request_to_resolve_address(@user.zipcode)
  
= link_to_fancybox 'Edit this user', edit_admin_user_path(@user)
|
= link_to_close_fancybox 'Back'