= form_for([:admin, @user], :html => { :id => 'userform'}, :remote => true) do |f|
  = f.error_messages
  %p
    = f.label :firstname
    = f.text_field :firstname
  %p
    = f.label :lastname
    = f.text_field :lastname
  %p
    = f.label :zipcode
    = f.text_field(:zipcode, {:onblur => ajax_request_to_resolve_address})
  %p
    = f.label :street
    = f.text_field :street
  %p
    = f.label :city
    = f.text_field :city
  %label
    You are living nearby:
  %div#zipResult

  %p
    = link_to_close_fancybox 'Back'
    = f.submit edit_or_update? ? 'Update' : "Create"
= javascript_tag do 
  = ajax_request_to_resolve_address
 