<!DOCTYPE html>
%html
  %head
    %title
      Testopdracht
    = stylesheet_link_tag "testopdracht", "jquery.fancybox-1.3.4"
    = javascript_include_tag "jquery-1.5.2.min", "rails", "jquery.fancybox-1.3.4", "application"
    = csrf_meta_tag
  %body
    %div#wrapper
      %div#header
        %div#logo
          = link_to(image_tag("logo.jpg"), root_path)
        %div#menu_and_options
          %div#menu
            = render "layouts/menu"
          #div#enable_lightbox
            = form_tag(lightbox_sessions_path, {:id => "form_to_enable_lightbox", :remote => true}.merge(creating_or_editing? ? {:class => "disabled"} : {})) do
              = check_box_tag "enable_lightbox", "1", enable_lightbox?, creating_or_editing? ? {:disabled => true} : {}
              = label_tag "enable lightbox"
      %div#content
        = yield
